@model IEnumerable<ClientManagementSystem.Model.DisplayClients>

@{
    ViewData["Title"] = "AllClients";
}

<h1 class="text-center">All Clients</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@if (!Model.Any())
{
    <p style="color:orange">No client(s) found</p>
}
else
{
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
                <th class="text-center">
                Number Of Linked Contacts
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.ClientCode)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @item.NumberOfContacts
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new {  clientCode=item.ClientCode }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
        </tbody>
    </table>
}


